.footer-body {
  vertical-align: top;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 0px;
}

.footer-col {
  font-family: 'Montserrat';
  color: #3A405B;
  font-size: 14px;
  letter-spacing: .0375rem;
  font-weight: 400;
  padding-top: 10px;
  align: center;
}

.footer-header-text {
  font-family: 'Montserrat';
  color: #B8BFD3;
  font-size: 11px;
  letter-spacing: 1px;
}

.footer-indent {
  line-height: 3;
}

.footer-socialicons {
  line-height: 3;
  font-size: 24px;
  vertical-align: middle;
  line-height: 1.5;
  letter-spacing: 7px;
}

.footer-img-indent {
  line-height: 3;
  letter-spacing: 18px;
}

.footer-img-indent > img {
  height: 54px;
}

.footer-img-indent > a > img {
  height: 54px;
}

.footer-copyright {
  text-align: center;
  padding-top: 0px;
  padding: 12px;
  font-size: 14px;
}
