.signin-column {
  text-align: left;
  padding-left: 40px;
  width: 90%;
}

.signin-label {
  font-size: 10px;
  text-align: left;
  font-weight: 700;
}

.signin-text {
  font-size: 14px;
}

.signin-footer-link {
  text-decoration: underline;
}

.signin-hr {
  margin-bottom: 14px;
}

.signin-form-group {
  margin: 0px;
  width: auto;
  padding: 0px;
}

.signin-col {
  text-align: center;
  padding-top: 60px;
  align: center;
  height: 460px;
}

.signin-header {
  display: inline-block;
  text-align: center;
  width: 400px;
}
