// Nav Bar
.navbar {
  padding: 7px;
}

.nav-link {
  color: #3A405B;
  font-size: .8em;
}

.navbar-brand, a {
  color: #3A405B !important;
}

nav {
  border-bottom: 1px solid;
  border-color: #F0F2F7;
  opacity: .98;
}
