// Main styles
@import "variables.scss";

.bg-faded {
  background-color: #fbfbfb;
}

body {
  padding-top: 80px;
  font-family: 'Open Sans', sans-serif;
}

.inner-addon {
    position: relative;
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #999999;
  font-size: .875rem;
}

.left-addon .fa  { left:  3px; top: 10px;}

.left-addon input  { padding-left:  30px; }

.dropdown-item {
  padding: 3px .68rem;
}

.columns {
	column-count: 3;
  column-gap: 14px;
}
