// Nav Bar
.navbar {
  padding: 7px;
}

.nav-link {
  color: #3A405B;
  font-size: .8em;
}

.navbar-brand, a {
  color: #3A405B !important;
}

.bg-faded {
  background-color: #fbfbfb;
}

nav {
  border-bottom: 1px solid;
  border-color: #F0F2F7;
  opacity: .98;
}

body {
  padding-top: 80px;
  font-family: 'Open Sans', sans-serif;
}

.inner-addon {
    position: relative;
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #999999;
  font-size: .875rem;
}

.left-addon .fa  { left:  3px; top: 10px;}

.left-addon input  { padding-left:  30px; }

input[type=search] {
    width: 300px;
    -webkit-backface-visibility: hidden;
    letter-spacing: 1px;
    padding: 8px 20px;
    border: 1px solid #E3E8F0;
    border-color: #E3E8F0;
    font-size: 10px;
    color: #b0b0b0;
    background-color: #F0F2F7;
    border-radius: 100px;
    margin-right: 10px;
    font-weight: 700;
    font-family: FontAwesome, 'Open Sans', sans-serif !important;
}

input[type=button] {
    font-size: 10px;
    letter-spacing: 1px;
    padding: 8px 20px;
    margin: 10px 0;
    border-color: black;
    border: 1px solid #E3E8F0;
    color: #b0b0b0;
    background-color: #F0F2F7;
    border-radius: 100px;
    font-weight: 700;
    font-family: FontAwesome, 'Open Sans', sans-serif !important;
}

.card {
  display: inline-block;
  margin-top: 4px;
  margin-left: 6px;
  margin-right: 20px;
  margin-bottom: 30px;
  width: 30%;
  border-style: 0px solid;
  background-color: #F9F9F9;
  height: 100%;
  min-height: 300px;
  overflow: visible;
  color: #373a3c;
  padding-top: 20px;
  font-size: 1rem;
  border: 0;
  border-radius: 10px;
  padding: 0px;
  width: 96%;
  box-shadow: 10px 10px 16px rgba(0, 0, 0, .094);;
  transition: box-shadow 0.5s ease;
}

.card:hover {
  // box-shadow: 3px 3px 16px rgba(68,68,68,.48);
}

.fadein {
    // -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    //    -moz-animation: fadein 2s; /* Firefox < 16 */
    //     -ms-animation: fadein 2s; /* Internet Explorer */
    //      -o-animation: fadein 2s; /* Opera < 12.1 */
    //         animation: fadein 2s;
}

.fadein-slow {
    -webkit-animation: fadein .3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .3s; /* Firefox < 16 */
        -ms-animation: fadein .3s; /* Internet Explorer */
         -o-animation: fadein .3s; /* Opera < 12.1 */
            animation: fadein .3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.columns {
	column-count: 3;
  column-gap: 14px;
}

.sea-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
}
.sea-coords {
  font-size: 12px;
  padding-top: .3rem;
  vertical-align: baseline;;
}
.sea-description {
  font-weight: 100;
  font-size: 14px;
  /*font-family: 'Open Sans', sans-serif;*/
  line-height: 20px;
  color: #555555;
  letter-spacing: .1px;
  width: 100%;
  padding: 14px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: left;
}
.sea-data {
  font-weight: 200;
  letter-spacing: .1px;
  font-size: 11px;
}
.sea-comments {
  font-weight: 200;
  letter-spacing: .1px;
  font-size: 11px;
  margin-bottom: 6px;
}
.sea-data-tide-low {
  font-weight: 700;
  color: limegreen;
}

.sea-data-tide-med {
  font-weight: 700;
  color: lightblue;
}

.sea-data-tide-high {
  font-weight: 700;
  color: tomato;
}
