<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12 signin-col">
        <div class="signin-header" width="200px">
          <span class="signin-text"><b>Welcome to Oceans.</b></span>
          <hr class="signin-hr" width=83%>
          <form name="signInForm" ng-submit="hello()" novalidate autocomplete="on">
            <div class="signin-form-group">
              <div class="signin-column">
                <div class="form-group" ng-class="{ 'has-error' : signInForm.email.$invalid && !signInForm.email.$pristine }">
                  <label for="email" class="signin-label">EMAIL</label> <br />
                  <input id="email" class="form-control" type="email" name="email" placeholder="Email" ng-model="user.email" required>
                  <p ng-show="signInForm.email.$invalid && !signInForm.email.$pristine" class="help-block">A valid email is required.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : signInForm.email.$invalid && !signInForm.email.$pristine }">
                  <label for="password" class="signin-label">PASSWORD</label> <br />
                  <input id="password" class="form-control" type="password" name="password" placeholder="Password" ng-model="user.password" required>
                  <p ng-show="signInForm.password.$invalid && !signInForm.password.$pristine" class="help-block">Password is required.</p>
                </div>
              </div>
            </div>
            <hr style="margin-top: 24px;" width="83%">
            <button ng-disabled="signInForm.$invalid" type="submit" class="btn btn-primary input-block-level" style="margin-top: 4px; margin-bottom: 5px;">
              Sign In
            </button>
          </form>
          <span class="signin-text">Don't have an account? <a href="#/signup" class="signin-footer-link"><i>Sign up</i></a></span> <br>
        </div>
      </div>
    </div>
  </div>
</main>
