<nav class="navbar navbar-light bg-faded navbar-fixed-top" >
  <div class="container">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive" style="text-align: center;">
    <a class="navbar-brand" href="#/">
      <strong>
        <span role="heading" aria-level="1" style="font-size: 1.5em; font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;" ng-click="searchquery.name = ''; myFilter = {}">
          Oceans
          <!-- <span class="blink">|</span> -->
        </span>
      </strong>
    </a>
    <ul class="nav navbar-nav pull-left" style="display: inline-block;">
      <li class="nav-item" style="margin-top: 18px; padding-left: 6px;">
        <span style="font-size: 12px; color: #333; letter-spacing: .136em; word-spacing: 5px;">
          <a href="#/artic">ARTIC</a>
          <a href="#/artic">ATLANTIC</a>
          <a href="#/artic">INDIAN</a>
          <a href="#/artic">PACIFIC</a>
          <a href="#/artic">SOUTHERN</a>
           <!-- | SEAS | ISLANDS</span> -->
        <!-- <div class="inner-addon left-addon" style="float: left;">
          <div class="search-icon">
              <i class="fa fa-search" id="myimage"></i>
          </div>
            <input type="search" aria-label="Search" name="name" results ng-model="searchquery.name" ng-click="searchquery = {name: ''}" style="margin-top: 10px; padding-left: 34px; font-family: FontAwesome, 'Open Sans', Verdana, sans-serif;" placeholder="SEARCH FOR AN OCEAN">
          </input>
        </div> -->
        <!-- <div class="btn-group inner-addon left-addon" style="float: left;">
          <div href="" class="search-icon" tabindex="-1">
              <i class="fa fa-angle-down"></i>
          </div>
          <input type="button" aria-label="Filter Restaurants" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="FILTER" style="padding-left: 28px; margin-top: 10px;">
          </input>
          <div class="dropdown-menu filter-dropdown">
            <a class="dropdown-item" href="#/" aria-label="No Filter" ng-click="myFilter = {}">No Filter</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#/" aria-label="5 Stars" ng-click="myFilter = {rating: 5}">Rating: 5 Stars</a>
            <a class="dropdown-item" href="#/" aria-label="4 Stars" ng-click="myFilter = {rating: 4}">Rating: 4 Stars</a>
            <a class="dropdown-item" href="#/" aria-label="3 Stars" ng-click="myFilter = {rating: 3}">Rating: 3 Stars</a>
            <a class="dropdown-item" href="#/" aria-label="2 Stars" ng-click="myFilter = {rating: 2}">Rating: 2 Stars</a>
            <a class="dropdown-item" href="#/" aria-label="1 Star" ng-click="myFilter = {rating: 1}">Rating: 1 Star</a>
          </div>
        </div> -->
      </li>
    </ul>
    <ul class="nav navbar-nav float-lg-right" style="float: none;">
      <li class="nav-item" style="margin-left: 0px; margin-top: 18px;">
        <span style="font-size: 12px; color: #333; letter-spacing: .136em; word-spacing: 5px;">
          ACCOUNT | ADD NEW + </span>
        <!-- <div class="dropdown" ng-controller="LoginController">
          <a href="javascript:;" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/img/blank.png" style="border-radius: 40px; width: 40px;" alt="User Login"></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
            <h6 class="dropdown-header" ng-show="getLoggedIn()">{{getCurrentUser()}}</h6>
            <div ng-show="getLoggedIn()" class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;" ng-show="!getLoggedIn()" ng-click="login()">Sign In</a>
            <a class="dropdown-item" href="javascript:;" ng-show="getLoggedIn()" ng-click="logout()">Sign Out</a>
          </div>
        </div> -->
      </li>
    </ul>
  </div>
</div>
</nav>
