<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3 fadein" style="text-align: right; padding-right: 10px; padding-top: 40px; align: center;">
        <img src="img/User-avatar-2.png" width="180px" alt="" /> <br><br>


      </div>
      <div class="col-md-9 pull-left" style="text-align: left; padding-left: 40px; padding-right: 72px; padding-top: 40px; align: center;">
        <b>JULIAN BISHOP </b> <br><i>journalist, photographer</i> <br><br>
Stakeholders Rosa Parks vaccine urban, Aga Khan advocate, progress diversification altruism. Courageous prosperity, refugee technology, facilitate billionaire philanthropy. Humanitarian criteria generosity global citizens Action Against Hunger. <br><br>
        Oakland, Ca <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="font-style: italic; font-size: 14px; color: grey; text-align: center; padding-right: 10px; padding-top: 4px; align: center; padding-bottom: 20px;;">
        <hr>
        <!-- FOLLOWS -->
      </div>
    </div>
  </div>
</main>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding-top: 0px; padding-bottom: 24px; align: center;">
        <div class="columns" style="text-align:center;">
          <div class="card" style="vertical-align: top;" ng-repeat="sea in articJSON.seas">
            <div class="fadein" style="width: 100%; padding: 14px; overflow: hidden;">
              <img ng-src={{sea.photo}} alt="ARAFURA SEA THUMBNAIL" width="100%"/>
            </div>
            <div class="" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 0px; text-align: left;">
              <span class="sea-title">{{sea.name | uppercase}}</span><span class="sea-coords pull-right"><i class="fa fa-map-marker" aria-hidden="true" style="line-height: -1; position: relative; top: -1px; letter-spacing: 4px;"></i> {{sea.coords[0]}}, {{sea.coords[1]}}</span>
            </div>
            <div class="sea-description">
              <span class="" style="line-height: 10px;">
                {{sea.description}}              </span>
            </div>
            <div class="" style="padding-left: 14px; padding-right: 14px;">
              <hr>
            </div>
            <div class="sea-data" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 0px; text-align: left;">
              SURFACE AREA  <span class="pull-right">{{sea.surface}}  </span><br>
              CURRENT TEMP  <span class="pull-right">{{sea.currenttemp}}  </span><br>
              DEPTH  <span class="pull-right">{{sea.depth}}  </span><br>
              VOLUME  <span class="pull-right">{{sea.volume}}  </span><br>
              TIDE  <span class="pull-right" ng-class="appliedClass(sea.tide)"> {{sea.tide}}  </span><br>
            </div>
            <div class="" style="padding-left: 14px; padding-right: 14px;">
              <hr >
            </div>
            <div class="sea-comments" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 10px; text-align: left;">
               <span>{{sea.followers.length}} FOLLOWERS</span>
               <!--  Doesn't show if already following -->
               <span ng-show="!isFollows($index)" class="pull-right" style="margin-top: -3px">
                 <button ng-click="addFollowers($index)" type="button" name="button">
                   FOLLOW
                 </button>
               </span>
               <span ng-show="isFollows($index)" class="pull-right" style="margin-top: -3px">
                 <button type="button" name="button">
                   <i class="fa fa-check" aria-hidden="true"></i>
                   FOLLOWING
                 </button>
               </span>
            </div>
            <!-- <div class="sea-comments" ng-show="sea.togglecomments" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 10px; text-align: left;">
                <img ng-repeat="follower in sea.followers" ng-src="{{follower.photo}}" style="padding: 7px;" width="60px" alt="AVATARS THUMBNAILS" />
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
