<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding-top: 0px; align: center;">
        <div class="columns" style="text-align:center;">
          <div class="card fadein" style="vertical-align: top;" ng-repeat="sea in articJSON.seas">
            <div class="" style="width: 100%; padding: 14px; overflow: hidden;">
              <img ng-src={{sea.photo}} alt="ARAFURA SEA THUMBNAIL" width="100%"/>
            </div>
            <div class="" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 0px; text-align: left;">
              <span class="sea-title">{{sea.name | uppercase}}</span><span class="sea-coords pull-right"><i class="fa fa-map-marker" aria-hidden="true" style="line-height: -1; position: relative; top: -1px; letter-spacing: 4px;"></i> {{sea.coords[0]}}, {{sea.coords[1]}}</span>
            </div>
            <div class="sea-description">
              <span class="" style="line-height: 10px;">
                {{sea.description}}              </span>
            </div>
            <div class="" style="padding-left: 14px; padding-right: 14px;">
              <hr>
            </div>
            <div class="sea-data" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 0px; text-align: left;">
              SURFACE AREA  <span class="pull-right">{{sea.surface}}  </span><br>
              CURRENT TEMP  <span class="pull-right">{{sea.currenttemp}}  </span><br>
              DEPTH  <span class="pull-right">{{sea.depth}}  </span><br>
              VOLUME  <span class="pull-right">{{sea.volume}}  </span><br>
              TIDE  <span class="pull-right" ng-class="appliedClass(sea.tide)"> {{sea.tide}}  </span><br>
            </div>
            <div class="" style="padding-left: 14px; padding-right: 14px;">
              <hr >
            </div>
            <div class="sea-comments" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 14px; text-align: left;">
              {{sea.comments.length}} COMMENTS <br>
              <img src="img/avatars-1.png" style="margin-top: 10px" alt="AVATARS THUMBNAILS" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
