<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding-top: 0px; align: center;">
        <div class="" style="text-align:center; float: left;">
          <div class="card" style="vertical-align: top">
            <div class="" style="width: 100%; padding: 14px; overflow: hidden;">
              <img src="img/thumb-1.png" alt="ARAFURA SEA THUMBNAIL" width="100%"/>
            </div>
            <div class="" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 0px; text-align: left;">
              <span class="sea-title">ARAFURA SEA </span><span class="sea-coords pull-right">** -13.56, 23.97</span>
            </div>
            <div class="sea-description">
              <span class="" style="line-height: 10px;">
                Disruptor altruism citizenry affiliate Bono. Plumpy'nut Aga Khan enable; global leaders, impact expanding community ownership peace. Refugee, governance engage fight against oppression women's rights democratizing the global financial system convener. Justice clean water hack, Rosa Parks, economic independence; catalyze billionaire philanthropy partner natural resources. Focus on impact meaningful NGO; invest investment care. Gender rights; reduce child mortality combat malaria tackling thinkers who make change happen employment legitimize lasting change civil society.  <br>
              </span>
            </div>
            <div class="" style="padding-left: 14px; padding-right: 14px;">
              <hr>
            </div>
            <div class="sea-data" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 0px; text-align: left;">
              SURFACE AREA  <span class="pull-right">1,175 km</span><br>
              CURRENT TEMP  <span class="pull-right">40˚ C / 160˚ F</span><br>
              DEPTH  <span class="pull-right">1,253 m</span><br>
              VOLUME  <span class="pull-right">547,000 km</span><br>
              TIDE  <span class="sea-data-tide pull-right">HIGH</span><br>
            </div>
            <div class="" style="padding-left: 14px; padding-right: 14px;">
              <hr >
            </div>
            <div class="sea-comments" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 14px; text-align: left;">
              3 COMMENTS <br>
              <img src="img/avatars-1.png" style="margin-top: 10px" alt="AVATARS THUMBNAILS" />
            </div>
          </div>
          <div class="card" style="vertical-align: top">
            <div class="" style="width: 100%; padding: 14px; overflow: hidden;">
              <img src="img/thumb-1.png" alt="ARAFURA SEA THUMBNAIL" width="100%"/>
            </div>
            <div class="" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 0px; text-align: left;">
              <span class="sea-title">ARAFURA SEA </span><span class="sea-coords pull-right">** -13.56, 23.97</span>
            </div>
            <div class="sea-description">
              <span class="" style="line-height: 10px;">
                Disruptor altruism citizenry affiliate Bono. Plumpy'nut Aga Khan enable; global leaders, impact expanding community ownership peace. Refugee, governance engage fight against oppression women's rights democratizing the global financial system convener. Justice clean water hack, Rosa Parks, economic independence; catalyze billionaire philanthropy partner natural resources. Focus on impact meaningful NGO; invest investment care. Gender rights; reduce child mortality combat malaria tackling thinkers who make change happen employment legitimize lasting change civil society.  <br>
              </span>
            </div>
            <div class="" style="padding-left: 14px; padding-right: 14px;">
              <hr>
            </div>
            <div class="sea-data" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 0px; text-align: left;">
              SURFACE AREA  <span class="pull-right">1,175 km</span><br>
              CURRENT TEMP  <span class="pull-right">40˚ C / 160˚ F</span><br>
              DEPTH  <span class="pull-right">1,253 m</span><br>
              VOLUME  <span class="pull-right">547,000 km</span><br>
              TIDE  <span class="sea-data-tide pull-right">HIGH</span><br>
            </div>
            <div class="" style="padding-left: 14px; padding-right: 14px;">
              <hr >
            </div>
            <div class="sea-comments" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 14px; text-align: left;">
              3 COMMENTS <br>
              <img src="img/avatars-1.png" style="margin-top: 10px" alt="AVATARS THUMBNAILS" />
            </div>
          </div>
          <div class="card" style="vertical-align: top">
            <div class="" style="width: 100%; padding: 14px; overflow: hidden;">
              <img src="img/thumb-1.png" alt="ARAFURA SEA THUMBNAIL" width="100%"/>
            </div>
            <div class="" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 0px; text-align: left;">
              <span class="sea-title">ARAFURA SEA </span><span class="sea-coords pull-right">** -13.56, 23.97</span>
            </div>
            <div class="sea-description">
              <span class="" style="line-height: 10px;">
                Disruptor altruism citizenry affiliate Bono. Plumpy'nut Aga Khan enable; global leaders, impact expanding community ownership peace. Refugee, governance engage fight against oppression women's rights democratizing the global financial system convener. Justice clean water hack, Rosa Parks, economic independence; catalyze billionaire philanthropy partner natural resources. Focus on impact meaningful NGO; invest investment care. <br>
              </span>
            </div>
            <div class="" style="padding-left: 14px; padding-right: 14px;">
              <hr>
            </div>
            <div class="sea-data" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 0px; text-align: left;">
              SURFACE AREA  <span class="pull-right">1,175 km</span><br>
              CURRENT TEMP  <span class="pull-right">40˚ C / 160˚ F</span><br>
              DEPTH  <span class="pull-right">1,253 m</span><br>
              VOLUME  <span class="pull-right">547,000 km</span><br>
              TIDE  <span class="sea-data-tide pull-right">HIGH</span><br>
            </div>
            <div class="" style="padding-left: 14px; padding-right: 14px;">
              <hr >
            </div>
            <div class="sea-comments" style="width: 100%; padding: 14px; padding-top: 0px; padding-bottom: 14px; text-align: left;">
              3 COMMENTS <br>
              <img src="img/avatars-1.png" style="margin-top: 10px" alt="AVATARS THUMBNAILS" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<style media="screen">
  .card {
    display: inline-block;
    margin: 8px;
    margin-bottom: 30px;
    width: 30%;
    border-style: 0px solid;
    background-color: #F9F9F9;
    height: 100%;
    min-height: 300px;
    overflow: hidden;
    color: #373a3c;
    padding-top: 20px;
    font-size: 1rem;
    border: 0;
    /*font-family: "OpenSans";*/
    /*line-height: 1.5;*/
    border-radius: 10px;
    padding: 0px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, .14);;
  }
  .sea-title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
  }
  .sea-coords {
    font-size: 12px;
    padding-top: .3rem;
    vertical-align: baseline;;
  }
  .sea-description {
    font-weight: 100;
    font-size: 14px;
    /*font-family: 'Open Sans', sans-serif;*/
    line-height: 20px;
    color: #555555;
    letter-spacing: .1px;
    width: 100%;
    padding: 14px;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: left;
  }
  .sea-data {
    font-weight: 200;
    letter-spacing: .1px;
    font-size: 11px;
  }
  .sea-comments {
    font-weight: 200;
    letter-spacing: .1px;
    font-size: 11px;
    margin-bottom: 6px;
  }
  .sea-data-tide {
    font-weight: 700;
    color: green;
  }
</style>
