<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align: center; padding-top: 40px; align: center; padding-bottom: 80px;;">
        <span style="font-size: 14px;"><b>Create an account.</b></span> <br><br>

        <!-- <div class="row">
          <div class="col-md-6">
            <span style="font-size: 14px;">Full name</span> <br>
            <input type="text" name="name" placeholder="What's your full name?"> <br><br>

            <span style="font-size: 14px;">Occupation</span> <br>
            <input type="text" name="name" placeholder="What do you do?"> <br><br>

            <span style="font-size: 14px;">Blurb</span> <br>
            <textarea name="name" placeholder="Say something about yourself..." rows="8" cols="40"></textarea><br><br>

          </div>
          <div class="col-md-6">
            <span style="font-size: 14px;">Hometown</span> <br>
            <input type="text" name="name" placeholder="Where are you from?"> <br><br>

            <span style="font-size: 14px;">Email</span> <br>
            <input type="text" name="name" placeholder="How can we contact you?"> <br><br>

            <span style="font-size: 14px;">Password</span> <br>
            <input type="password" name="name" value=""> <br>
            <input type="password" name="name" value=""> <br><br>
          </div>
        </div> -->

        <input type="text" name="name" placeholder="Full name"><br>
        <input type="text" name="name" placeholder="Occupation"><br><br>

        <!-- <span style="font-size: 14px;">Blurb</span> <br> -->
        <textarea name="name" placeholder="Say something about yourself..." rows="8" cols="40"></textarea><br>

        <!-- <span style="font-size: 14px;">Hometown</span> <br> -->
        <input type="text" name="name" placeholder="Hometown"> <br>

        <!-- <span style="font-size: 14px;">Email</span> <br> -->
        <input type="text" name="name" placeholder="Email"> <br>

        <!-- <span style="font-size: 14px;">Password</span> <br> -->
        <input type="password" name="name" placeholder="Password"> <br>
        <input type="password" name="name" placeholder="Confirm"> <br><br>

        <form action="#/">
            <input type="submit" value="CREATE ACCOUNT">
        </form>

      </div>
    </div>
  </div>
</main>
